.testing-comp {
    box-shadow: 0 0 20px black;
    background: linear-gradient(90deg,black,darkblue);
    /* background-color: #2d2d30; */
    border-radius: 20px;
    width:40%;
    color:white;
    
}
form {
    text-align: center;
    margin: auto;
    padding:20px;
}
.form1 {
    text-align: center;
    margin: auto;
}